<form action="/new" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="nombre">Nombre del Producto</label>
            <input 
                type="text" 
                name="nombre" 
                placeholder="Ej: Placa Madre" 
                class="form-control rounded-0 bg-light border-0 text-dark" 
                required
            >
        </div>

        <div class="mb-3">
            <label for="nombre">Stock</label>
            <input 
                type="text" 
                name="stock" 
                placeholder="Ej: 20"
                class="form-control rounded-0 bg-light border-0 text-dark"
                required
            >
        </div>

        <div class="mb-3">
            <label for="nombre">Precio</label>
            <input 
                type="text" 
                name="precio" 
                placeholder="Ej: 200000.00"
                class="form-control rounded-0 bg-light border-0 text-dark"
                required
            >
        </div>

        <button class="btn btn-primary">Guardar</button>
    </div>   
</form> 