{% extends 'layout.html' %}

{% block content %}

<h1 class="text-white">Sobre el Proyecto</h1>

<p class="text-white">
    Este proyecto es un CRUD elaborado con Python y Flask. Su finalidad es funcionar como registro de Stock simple
    para una tienda (en nuestro ejemplo, de aparatos electronicos). Permite registrar facilmente los nuevos productos, 
    listar automaticamente los productos que ya existen (ordenados del ultimo en ser añadido al primero en ser añadido),
    modificar los registros existentes y eliminarlos facilmente. Esta diseñado con una interfaz simple e intuitiva, 
    con colores suaves y un tono agradable a la vista.

</p>

{% endblock %}